body {
  background-color: #f0c1e1;
}
h1,
p,
footer,
.navigation-links {
  text-align: center;
}
img {
  max-width: 100%;
  display: block;
  margin: 30px auto;
  border-radius: 7px;
}
.navigation-links a {
  margin: 0 10px;
  color: rgb(180, 21, 124);
}
